body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

main {
    display: flex;
}

.card {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 1px 2px solid grey;
    padding: 0px;
    margin: 0px;
    margin-left: 10px; 
    margin-top: 20px;
}

.card:hover {
    background-color: rgb(241, 241, 195);
}

section img {
    width: 100%;
}

button {
    margin-left: 20px;
    margin-bottom: 20px;
}

p, h2 {
    margin-left: 20px;
}

iframe {
    width: 100%;
}


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    main {
        flex-wrap: wrap;
    }
    section {
        width: calc(50% - 20px);
    }
}
    
/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }
}